@import "scss-files/themes";

/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: Poppins; 
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.header {
    width: 100vw;
    height: 100px;
    background-color: $header-bg-colour;
    text-align: center;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: $bg-colour;
    height: 100vh;

    &__input {
        &__label {
            display: flex;
            gap: 180px;
            font-weight: 500;
        }
            
        &__textarea{
            &--box {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 50px;   

                &--text {
                    border: 5px $border-colour solid; 
                    outline: none;
                    border-radius: 10px;
                    padding: 5px;
                    width: 200px;
                }
                &--code {
                    border: 5px $border-colour solid; 
                    outline: none;
                    border-radius: 10px;
                    padding: 5px;
                    width: 200px;
                }
            }

        }
    }
    &__output {
        &__textarea{
            border: 5px $border-colour solid; 
            outline: none;
            border-radius: 10px;
            padding: 5px;
        } 
    }
    &__btn {

        &__container {
            display: flex;
            flex-direction: row;
            gap: 100px;

            &--translate{
                height: 2rem;
                width: 12rem;
                border: 2px solid black;
                padding: 5px;
            }
        }
        

       
    }
}